.cards-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.product-card {
    width: 240px;
    border: 1px solid var(--very-light-pink);
    border-radius:20px;
}
.product-card img {
    width: 240px;
    height: 240px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 5px;
}
.product-info figure {
    margin: 0;
    margin-right: 10px;
}
.product-info figure img {
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 15px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
    margin-left: 15px;
}
.figure-add-to-cart img:hover {
    mix-blend-mode: multiply;
    filter: drop-shadow(2px 2px 2px black)
}
