* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-size: 1.6rem;
}

h2 {
  font-size: 2rem;
}

ul {
  display: flex;
}
.nav-li {
  text-decoration: none;
}

.card {
  border: 10px;
  border-style: solid;
  display: flex;
  flex-flow: column wrap;
  margin: 29px;
}
.header-card {
  font-size: 3rem;
  align-self: center;
  border: 2px;
  border-style: solid;
  border-color: aqua;
}
