* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-size: 1.6rem;
  margin: 29px;
}

h2 {
  font-size: 2rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-li {
  margin: 12px;
}

.card {
  border: 10px;
  border-style: solid;
  display: flex;
  flex-flow: row wrap;
}
/* Solo existen 3 divs dentro,
por eso es que salen 3 columnas */
.card > div {
  width: 61rem;
}

.text-card > h2,
h3 {
  background-color: aquamarine;
}

.header-card {
  font-size: 3rem;
  border: 2px;
  border-style: solid;
  border-color: aqua;
}
