:root {
    /* text colors */
    --fc-reaction: hsl(0, 100%, 67%);
    --fc-memory: hsl(39, 100%, 56%);
    --fc-verbal: hsl(166, 100%, 37%);
    --fc-visual: hsl(234, 85%, 45%);

    --ff-regular: 'Hanken Grotesk', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:var(--ff-regular)
}

article {
    border: 1px solid red;
    border-radius: 1.3rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 32rem;
    height: 21rem;
}

.card-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #504CF4;
    padding: 1rem;
}

.card-result * {
    flex-grow: 1;
}

.score-detail {
    flex-shrink: 0;
}

.card-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #EFF5FE;
    padding: 1rem;
}
