:root {
    --ff-regular: 'Hanken Grotesk', sans-serif;
    --clr-primary: hsl(220, 12%, 10%);
    --clr-secondary: hsl(207, 83%, 57%);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-regular);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.twitter-reco {
    border-radius: 1rem;
    background-color:var(--clr-primary); 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    color: white;
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

.twitter-avatar {
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    overflow: hidden;
}

.twitter-profile {
    display: flex;
    gap: 1rem;
}

.prof-name {
    flex-grow: 1;
}

.btn {
    border:none;
    border-radius: 1rem;
    padding: 5px 1rem;
    height: 32px;
    font-weight: bold;
    align-self: center;
}
