:root {
    --primary-color: #5f9341;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

/* .container { */
/*     display: flex; */
/*     flex-direction: column */
/* } */

.input-el {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}
.btn {
    border-radius: 3px;
    padding: 10px 20px;
    width: fit-content;
    font-weight: bold;
    border: 2px solid var(--primary-color);
}

.input-btn {
    color: white;
    background-color: var(--primary-color);
}

.ul-el {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

.li-el {
    margin-top: 5px;
}

.a-el {
    color: var(--primary-color);
}

.del-btn {
    color: var(--primary-color);
    background-color: white;
}
