html {
    background: url("images/fondo.png"), #3c3836;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    font-size:large;
}

.contenedor{
    display:flex;
    flex-direction:column;
}
.divisiones {
    padding: 15px;
    display:flex;
    flex-direction: column;
    margin-top:10px;
    background-color: #458588;
    justify-content: center;
    align-items: center;
    border-radius:7px;
    width: 90%;
}

.form{
    padding: 10px;
}

.ent-text{
    margin: 10px;
}

.btn{
    background-color: #689D6A;
    border: hidden;
    border-radius: 60%;
    width: 80px;
    height: 80px;
    font-size: larger;
    box-shadow: 2px 2px #D65D0E;
    text-align: center;
}
