body {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    background-image: url('images/people.jpg');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} 

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: #FBF1C7;
    border: 3px solid #EBDBB2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
    width: 80%;
    padding: 20px;
}

button{
    border: #282828 dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FBF1C7;
    font-weight: bold;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.increment-btn{
    background: #CC241D;
}

.save-btn{
    background: #B8BB26;
}
