:root {
  --clr-primary-100: #ECDCAF;
  --clr-primary-200: #E8B042;
  --clr-primary-300: #3C3D3C;
  --clr-primary-400: #32302F;
  --clr-primary-900: #1D2021;
  --clr-secondary-red: #71322D;
  --clr-secondary-red-l: #E6644C;
  --clr-secon-green-brown: #4C4E31;
  --clr-secon-green-light: #B2B553;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
}

.myName {
  color: var(--clr-secondary-red-l);
}

.myName:hover {
  color: var(--clr-secon-green-light);
  transition: .3s
}

.social-header {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color:var(--clr-primary-900);
  color: var(--clr-primary-100);

  border-radius: 10% / 50%;
  list-style: none;
  right: 0;
  height: 44px;
  gap: 5px;
  padding: 8px 20px 0 20px;
  margin: 0;
}

.social-header-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--clr-primary-300);
}

.social-header-container:hover {
  background-color: var(--clr-primary-200);
  transition: .3s
}

.social-header-icon {
  padding: 7px;
  width: 27px;
}

.nav-link-container {
  border-radius: 6% / 50%;
  background-color:var(--clr-primary-900);
  border: 1px solid var(--clr-primary-100);
  padding-top: 2px;

  display: flex;
  justify-content: center;

  width: 330px;
  height: 52px;
  gap: 9px;
}

.link {
  height: 42px;
  cursor:pointer;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;

  color: var(--clr-primary-100);
  border-radius: 20% / 50%;
  width: 100px
}

.link:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-200);
  transition: .3s;
}

.link p {
  align-self: center;
  font-size: 14px;
}

.home-main-content {
  margin-top: 8rem;
  text-align: center;
}

.home-main-content h1 {
  cursor: default
}

.emoji-header {
  font-size: 64px
}

.home-principal-text{
  margin-top: 4rem;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 2rem 0 2rem;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.projects {
  margin-top: 7rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 4rem 4rem 4rem;
}

.project-card {
  display: flex;
  cursor: default;
  height: 280px;
  flex-direction: column;
  border-radius: 1rem;
  gap: 9px;
  padding: 1rem;
  text-align: center;
  background-color: var(--clr-primary-300);
}

.project-image{
  width: 90%;
  aspect-ratio: 5/4;
  object-fit:contain;
  align-self: center;
  background-color: var(--clr-primary-400);
  padding: 9px 1rem;
  border-radius: 1rem;
}

.project-card:hover {
  background-color: var(--clr-primary-400);
  padding: 1rem;
}

.project-card:hover .project-image {
  background-color: var(--clr-primary-300);
}

.project-card:hover p {
  color: var(--clr-secondary-red-l);
  font-weight: bold;
}

.project-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 30px;
  width: 100%;
  border-radius: 6% / 50%;
  font-weight: bold;
  border: 1px solid var(--clr-primary-100);
}

.icon-project-container{
  display: flex;
  color:black;
  justify-content: space-evenly;
}

.social-project-icon {
  background-color: var(--clr-secon-green-brown);
  border-radius:50%;
  width: 28px;
  padding:7px;
  cursor:pointer;
}

.social-project-icon:hover {
  background-color: var(--clr-secon-green-light);
  border-radius: 50%;
}

.knowledge {
  margin-top: 12rem;
  border-radius:1rem;
  height: 715px;
  display: grid;
  grid-template-columns: repeat(2, 420px);
  justify-content: space-around;
  padding: 0 2rem;
  cursor:default;
}

.block-know {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-300);
  border-radius: 1rem;
  padding: 1rem;
}

.block-tec {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-300);
  border-radius: 1rem;
  padding: 1rem;
}

.array-know {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.array-tec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.tec-img {
  width: 75px;
  padding: 9px;
  border-radius: 1rem;
  background-color: var(--clr-primary-400)
}

.tec-img:hover {
  background-color: var(--clr-primary-100);
  width: 80px;
  transition: .3s
}

@media (max-width: 1000px) {
  .knowledge {
    gap: 1rem;
  }

  .projects-container {
    padding: 0;
  }
}


.block-know-card {
  display: flex;
  background-color: var(--clr-primary-600);
  border: 1px solid var(--clr-primary-100);
  height: 80px;
  max-height: 80px;
  align-content: center;
  border-radius: 1rem;
}

.block-know-card:hover {
  background-color: var(--clr-primary-400);
  padding: .3rem;
  transition: .3s;
}

.block-know-card:hover .tittle-3{
  color: var(--clr-secondary-red-l);
  transition: .3s
}

.block-know-card:hover .p-themes {
  color: var(--clr-primary-200);
  transition: .3s
}

.block-know-card:hover .know-img{
  background-color: var(--clr-primary-300);
  transition: .3s
}

/* .tittle-3:hover{ */
/*   color: var(--clr-secondary-red-l); */
/* } */

.know-img-container {
  display: flex;
  padding: 5px 0;
}
.know-img {
  width: 50px;
  
  margin-left: 1rem;
  padding: 9px;
  border-radius: 1rem;
  background-color: var(--clr-primary-400)
}

.know-title {
  flex-grow: 1;
  padding: 0 1rem 0 1rem;
  color: var(--clr-primary-100)
}

.tittle-3 {
  margin: 0;
  padding: 10px 10px 0 0;
}

.p-themes {
  margin: 0;
}


