:root {
  --clr-primary-100: #ffffff;
  --clr-primary-200: #F3F2F1;
  --clr-primary-900: #000000;
  --clr-primary-600: #7f7f7f;
  --clr-primary-400: #202425;
  --clr-secondary-cream: #F7F5EB
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
}

.social-header {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color:var(--clr-primary-200);

  border-radius: 10% / 50%;
  list-style: none;
  right: 0;
  height: 42px;
  gap: 15px;
  padding: 10px 2rem 0 2rem;
  margin: 0;
}

.social-header-icon {
  width: 30px;
}

.nav-link-container {
  border-radius: 10% / 50%;
  background-color: var(--clr-primary-200);

  display: flex;
  justify-content: center;

  width: 330px;
  height: 52px;
  gap: 9px;
}

.link {
  height: 42px;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;

  color: var(--clr-primary-900);
  border-radius: 25% / 50%;
  width: 100px
}

.link:hover {
  background-color: var(--clr-primary-100);
}

.link p {
  align-self: center;
  font-size: 14px;
}

.home-main-content {
  margin-top: 8rem;
  text-align: center;
}

.emoji-header {
  font-size: 64px
}

.home-principal-text{
  margin-top: 4rem;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 2rem 0 2rem;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.projects {
  margin-top: 7rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 4rem 4rem 4rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 9px;
  padding: 1rem;
  text-align: center;
  background-color: var(--clr-primary-200);
}

.project-card img {
  width: 50%;
  align-self: center;
  object-fit:contain;
}

.project-card p {
  margin: 0;
  align-self: center;
  font-weight: 500;
  height: 30px;
  width: 200px;
  border-radius: 10% / 50%;
  padding-top: 5px;
  font-size: 16px;
  background-color: var(--clr-primary-100);
}

.tecnologies {
  margin-top: 12rem;
  border-radius:1rem;
  display: grid;
  grid-template-columns: repeat(2, 420px);
  justify-content: space-around;
  padding: 0 2rem;
}

.block-tec {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-200);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.block-tec-card {
  display: flex;
  background-color: var(--clr-primary-600);
  height: 80px;
  max-height: 80px;
  align-content: center;
  border-radius: 1rem;
}

.tec-img-container {
  display: flex;
  padding: 5px 0;
}
.tec-img {
  width: 50px;
  
  margin-left: 1rem;
  padding: 9px;
  border-radius: 1rem;
  background-color: var(--clr-primary-400)
}

.tec-title {
  flex-grow: 1;
  padding: 0 1rem 0 1rem;
  color: var(--clr-primary-100)
}

.tittle-3 {
  margin: 0;
  padding: 10px 10px 0 0;
}

.p-themes {
  margin: 0;
}


