:root {
    --ff-regular:'Hanken Grotesk', sans-serif;
    --content-border: 2rem;
    --content-padding: 3rem;

    --fc-reaction: hsl(0, 100%, 67%);
    --fc-memory: hsl(39, 100%, 56%);
    --fc-verbal: hsl(166, 100%, 37%);
    --fc-visual: hsl(234, 85%, 45%);

    --fc-regular-contrast: hsl(0, 0%, 100%);
    --fc-darkbg-contrast: hsl(245, 100%, 87%);
    --fc-regular-normal: hsl(224, 30%, 27%);

    --fs-normal: 12px;
    --fs-medium: 16px;
    --fs-large: 20px;
    --fs-gigant: 60px;

    --fw-regular: 500;
    --fw-semibold: 700;
    --fw-bold: 800;
    --background-gradient-results: linear-gradient(
    180deg,
    hsl(252deg 100% 67%) 0%,
    hsl(251deg 98% 65%) 13%,
    hsl(250deg 96% 64%) 24%,
    hsl(248deg 94% 63%) 33%,
    hsl(247deg 92% 61%) 40%,
    hsl(246deg 89% 60%) 45%,
    hsl(245deg 88% 58%) 49%,
    hsl(243deg 85% 57%) 53%,
    hsl(242deg 83% 55%) 58%,
    hsl(241deg 81% 54%) 81%
    );
    --background-gradient-circle: linear-gradient(
    180deg,
    hsl(256deg 72% 46%) 12%,
    hsl(254deg 72% 46%) 30%,
    hsl(253deg 72% 46%) 58%,
    hsl(251deg 72% 46%) 68%,
    hsl(249deg 72% 46%) 75%,
    hsl(248deg 72% 46%) 81%,
    hsl(246deg 72% 46%) 86%,
    hsl(244deg 72% 46%) 91%,
    hsl(243deg 72% 46%) 95%,
    hsl(241deg 72% 46%) 100%
    );
}
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    font-family: var(--ff-regular);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

p {
    font-size: var(--fs-medium);
}

.sumary-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    max-height: 600px;
    border-radius: var(--content-border);
    overflow: hidden;
    background-color: var(--fc-regular-contrast);
}

.result-section {
    border-radius: var(--content-border);
    padding: var(--content-padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-image: var(--background-gradient-results)
}

.head-title {
    font-size: var(--fs-large);
    padding-top: 1rem;
    color: var(--fc-darkbg-contrast);
}

.circle-section {
    flex-grow: 1;
    align-self: center;
    padding-top: 1.5rem;
}

.circle {
    border-radius: 100%;
    height: 12rem;
    width: 12rem;
    background-image: var(--background-gradient-circle);
}

.number-title {
    padding-top: 2.5rem;
    color: var(--fc-regular-contrast);
    font-size: var(--fs-gigant);
    font-weight: var(--fw-bold);
}

.text-under-number {
    position:relative;
    top: -0.8rem;
    font-size: var(--fs-medium);
    color: var(--fc-darkbg-contrast);
}

.message-result > h1{
    color: var(--fc-regular-contrast);
}

.message-result > p {
    color: var(--fc-darkbg-contrast);
}

.sumary-section {
    padding: var(--content-padding);
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--fc-regular-normal)
}

.sumary-title {
    padding-top: 1rem;
}

.middle-sumary {
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.li-sumary {
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
    border-radius: 1rem;
    /* padding-top: 1rem; */
    /* padding-left: 0.5rem; */
    /* padding-right: 0.5rem; */
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.reaction {
    border: 1px solid var(--fc-reaction);
}

.memory {
    border: 1px solid var(--fc-memory);
}

.verbal {
    border: 1px solid var(--fc-verbal);
}

.visual {
    border: 1px solid var(--fc-visual);
}

.reaction-text {
    color: var(--fc-reaction);
}

.memory-text {
    color: var(--fc-memory);
}

.verbal-text {
    color: var(--fc-verbal);
}

.visual-text {
    color: var(--fc-visual);
}

.name-sumary {
    display: flex;
    gap: 0.5rem;
}

.numbers-sumary {
    font-weight: var(--fw-bold);
}

.numbers-span {
    font-weight: var(--fw-regular)
}

.btn {
    background-color: var(--fc-regular-normal);
    color: var(--fc-regular-contrast);
    border: none;
    padding: 1rem;
    border-radius: var(--content-border);
    cursor: pointer;
}

.btn:hover {
    background-image: var(--background-gradient-circle);
}



