* {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1200px;
}

body {
    margin: 60px;
}


img {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titleLeft{
    align-self: center;
}
.titleLeft * {
    margin-top: 60px;
    margin-bottom: 40px;
}

section {
    display: grid;
    grid-template: 100% 1fr / 1fr 1fr;
}
.ourt1 {
    grid-column: span 2;
    justify-self:center;
}
.contentRight{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 520px;
    height: 420px;
}
.contentRight *{
    margin: 0px;
}
.video {
    width: 400px;
    height: 400px;
}
.arribaIzq{
    width: 200px;
    height: 200px;
}
.arribaDer{
    width: 200px;
    height: 200px;
}
.abajoIzq{
    width: 200px;
    height: 200px;
}
.abajoDer{
    width: 200px;
    height: 200px;
}
